{% extends "base.html" %}
{% block title %}Login Page{% endblock title %}
{%  block start %}

<div class="container mt-5 pt-5 col-6">

    <form method="POST">
        {% csrf_token %}
        {%include "messages.html"%}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-success">Login</button>
      </form>
</div>


{% endblock %}